<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Turmas</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	<body>
        <div class="container">
            <div class="row justify-content-center my-4">
                <div class="col-12">
		        	<div>
		        		<h1 class="text-center my-4" >Ocorrências</h1>
		        		<table class="table table-bordered">
					    	<thead class="thead-dark">
								<tr>
									<th class="text-center" scope="col">ID</th>
									<th class="text-center" scope="col">Título</th>
									<th class="text-center" scope="col">Descrição</th>
									<th class="text-center"scope="col">Data/hora</th>
									<th class="text-center"scope="col">Aluno</th>
									<th class="text-center"scope="col">Status</th>
									<th class="text-center"scope="col">Ações</th>
							    </tr>
						     </thead>
							 <tbody>
							 	<tr th:each="ocorrencia : ${listaOcorrencias}">
							 		<td th:text="${ocorrencia.id}"></td>
									<td th:text="${ocorrencia.titulo}"></td>
									<td th:text="${ocorrencia.descricao}"></td>
									<td th:text="${ocorrencia.dataHora}"></td>
									<td th:text="${ocorrencia.aluno.nome}"></td>
									<td th:text="${ocorrencia.status}"></td>
									<td class="text-center">
										<div class="d-inline p-2">
											<a class="btn btn-danger" th:href="@{/ocorrencia/deletar/__${ocorrencia.id}__}" onclick="return confirm('Tem certeza?')">Deletar</a>
											<a class="btn btn-secondary" th:href="@{/ocorrencia/editar/__${ocorrencia.id}__}">Editar</a>
										</div>
									</td>
							  	</tr>
					    	</tbody>
						</table>
						<a class="btn btn-primary" th:href="@{/turma}">Retornar</a>
						<a class="btn btn-primary" th:href="@{/ocorrencia/novo}">Nova Ocorrência</a>
		        		<div th:if="${msg}" th:text="${msg}" class="alert alert-success mt-2"></div>
		        	</div>
		        </div>
            </div>
        </div>
	<script type="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script type="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	</body>
</html>