<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Cadastrar Ocorrência</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	<body>
	<div th:insert="~{/layout/navbar :: navbar}"></div>
        <div class="container">
            <div class="row justify-content-center my-4">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header text-center">
                            <div class="card-title">
                            	<h1><span th:if="${ocorrencia.id} == null">Editar Ocorrencia</span></h1>
                            	<h1><span th:unless="${ocorrencia.id} == null">Cadastrar Ocorrencia</span></h1>
                            </div>
                        </div>
                         <form th:action="@{/ocorrencia}"  method="POST" th:object="${ocorrencia}"> 
	                        <div class="card-body">
	                        	<input type="hidden" th:if="${ocorrencia.id}" name="edit" value="editando">
	                            <label for="titulo">Título</label>
	                            <input  th:field="*{titulo}" class="form-control" type="text" id="titulo" name="titulo"><br />
	                            <label for="descricao">Descrição</label>
	                            <input th:field="*{descricao}" class="form-control" type="text" id="descricao" name="descricao"><br />
	                            <input type="hidden" th:field="*{id}" name="id" th:if="${ocorrencia.id}">
	                            <label for="nome">Nome Aluno:</label>
	                            <select th:if="${ocorrencia.id}" id="alunoSelected" name="alunoSelected" class="form-control">
								  <option th:each="aluno : ${alunos}" th:selected="${ocorrencia.aluno.nome == aluno.nome}" th:text="${aluno.nome}">Status</option>
							 	</select>
							 	<select th:unless="${ocorrencia.id}" id="alunoSelected" name="alunoSelected" class="form-control">
								  <option th:each="aluno : ${alunos}" th:text="${aluno.nome}">Status</option>
							 	</select>
	                            <label for="status">Status</label>
		                 		<select th:if="${ocorrencia.id}" id="status" name="status" class="form-control">
								  <option th:each="statusResponse : ${status}" th:selected="${ocorrencia.status == statusResponse}" th:text="${statusResponse}">Status</option>
							 	</select>
							 	<select th:unless="${ocorrencia.id}" id="status" name="status" class="form-control">
								  <option th:each="statusResponse : ${status}" th:text="${statusResponse}">Status</option>
							 	</select>
	                        </div>
	                        <div class="card-footer text-right">
								<input th:if="${ocorrencia.id} == null" type="submit" class="btn btn-primary" value="Atualizar">
								<input th:unless="${ocorrencia.id} == null" type="submit" class="btn btn-primary" value="Cadastrar">
                        		<div th:if="${msg}" th:text="${msg}" class="alert alert-success mt-2"></div>
                        	</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
	<script type="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script type="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	</body>
</html>