<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Turmas</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	<body>
        <div class="container">
            <div class="row justify-content-center my-4">
                <div class="col-8">
		        	<div>
		        		<h1 class="text-center my-4" >Turmas</h1>
		        		<table class="table table-bordered">
					    	<thead class="thead-dark">
								<tr>
									<th class="text-center" scope="col">Nome</th>
									<th class="text-center" scope="col">Código</th>
									<th class="text-center" scope="col">Ano</th>
									<th class="text-center" scope="col">Período</th>		
									<th class="text-center" scope="col">Ações</th>							
							    </tr>
						     </thead>
							 <tbody>
							 	<tr th:each="turma : ${listaTurmas}">
									<td th:text="${turma.nome}"></td>
									<td th:text="${turma.codigo}"></td>
									<td th:text="${turma.ano}"></td>
									<td th:text="${turma.periodo}"></td>
									<td class="text-center">
										<div class="d-inline p-2">
											<form class="d-inline" action="/aluno/listar-alunos" method="GET">
												<input type="submit" class="btn btn-primary" th:value="Detalhar">
												<input th:value="${turma.codigo}" name="codigo" hidden> 
											</form>
											<a class="btn btn-danger" th:href="@{/turma/deletar/__${turma.codigo}__}">Deletar</a>
											<a class="btn btn-secondary" th:href="@{/turma/atualizar/__${turma.codigo}__}">Atualizar</a>
										</div>
									</td>
							  	</tr>
					    	</tbody>
						</table>
						<a class="btn btn-primary" th:href="@{/turma/novo}">Nova turma</a>
		        	</div>
		        </div>
            </div>
        </div>
	<script type="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script type="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	</body>
</html>