<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Turmas</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	<body>
        <div class="container">
            <div class="row justify-content-center my-4">
                <div class="col-12">
		        	<div>
		        		
		        		<h1 class="text-center my-4" >Alunos</h1>
		        		<p th:text="${turma}"></p>
		        		<table class="table">
					    	<thead class="thead-dark">
								<tr>
									<th scope="col">Matricula</th>
									<th scope="col">Nome</th>
									<th scope="col">Ano de Nascimento</th>
									<th scope="col">Telefone</th>
									<th scope="col">E-mail</th>
									<th scope="col">Turma</th>									
									<th scope="col">Ocorrências</th>
							    </tr>
						     </thead>
							 <tbody>
							 	<tr th:each="aluno : ${listaAlunos}">
									<td th:text="${aluno.matricula}"></td>
									<td th:text="${aluno.nome}"></td>
									<td th:text="${aluno.anoNascimento}"></td>
									<td th:text="${aluno.telefone}"></td>
									<td th:text="${aluno.email}"></td>
									<td th:text="${aluno.turma.nome}"></td>
									<td>
										<form action="/ocorrencia/listar-ocorrencias">
											<input type="submit" class="btn btn-primary" name="nomeAluno" th:value="${aluno.nome}">
										</form>
									</td>
							  	</tr>
					    	</tbody>
						</table>
						<a class="btn btn-primary" th:href="@{/turma}">Retornar</a>
						<a class="btn btn-primary" th:href="@{/aluno/novo}">Adicionar aluno</a>
		        	</div>
		        </div>
            </div>
        </div>
	<script type="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script type="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	</body>
</html>