<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Turmas</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	<body>
	<div th:insert="~{/layout/navbar :: navbar}"></div>
        <div class="container">
        <div class="row justify-content-center my-4">
	        <div class="col-4">
	        	<div class="card">
	        		<div class="card-header">
	        			<div class="card-title text-center">
	        				<span>Turma: <h3 th:text="${turma.nome}"></h3></span>
	        			</div>
	        		</div>
	        		<div class="card-body">
	        			<p><strong>Código: </strong><span th:text="${turma.codigo}"></span></p>
	        			<p><strong>Ano: </strong><span th:text="${turma.ano}"></span></p>
	        			<p><strong>Período: </strong><span th:text="${turma.periodo}"></span></p>
	        			<!--<p th:text="${turma.codigo}"></p>
	        			<p th:text="${turma.codigo}"></p>-->
	        		</div>
	        	</div>
	        </div>
        </div>
            <div class="row justify-content-center my-4">
                <div class="col-12">
		        	<div>	
		        		<h1 class="text-center my-4" >Alunos</h1>
		        		<table class="table table-bordered">
					    	<thead class="thead-dark">
								<tr>
									<th class="text-center" scope="col">Matricula</th>
									<th class="text-center" scope="col">Nome</th>
									<th class="text-center" scope="col">Ano de Nascimento</th>
									<th class="text-center" scope="col">Telefone</th>
									<th class="text-center" scope="col">E-mail</th>
									<th class="text-center" scope="col">Turma</th>									
									<th class="text-center" scope="col">Ocorrências</th>
									<th class="text-center" scope="col" th:if="${session.userLocal.funcao != T(com.ifrn.atv3douglasEvinicius.model.Papel).USER}">Ações</th>
							    </tr>
						     </thead>
							 <tbody>
							 	<tr th:each="aluno : ${listaAlunos}">
									<td th:text="${aluno.matricula}"></td>
									<td th:text="${aluno.nome}"></td>
									<td th:text="${aluno.anoNascimento}"></td>
									<td th:text="${aluno.telefone}"></td>
									<td th:text="${aluno.email}"></td>
									<td th:text="${aluno.turma.codigo}"></td>
									<td class="text-center">
										<form action="/ocorrencia/listar-ocorrencias">
										<!-- ${#lists.size(aluno.ocorrencia)} -->
											<input type="submit" class="btn btn-warning" th:value="Ocorrências" >
											<input th:value="${aluno.matricula}" name="matricula" hidden> 												
										</form>
									</td>
									<td class="text-center" th:if="${session.userLocal.funcao != T(com.ifrn.atv3douglasEvinicius.model.Papel).USER}">
										<div class="d-inline p-2">
											<a class="btn btn-danger" th:href="@{/aluno/deletar/__${turma.codigo}__/__${aluno.matricula}__}" onclick="return confirm('Tem certeza?')">Deletar</a>
											<a class="btn btn-secondary" th:href="@{/aluno/editar/__${aluno.matricula}__}">Editar</a>
										</div>
									</td>
							  	</tr>
					    	</tbody>
						</table>
						<a class="btn btn-primary" th:href="@{/turma}">Retornar</a>
						<a class="btn btn-primary" th:href="@{/aluno/novo}" th:if="${session.userLocal.funcao != T(com.ifrn.atv3douglasEvinicius.model.Papel).USER}">Adicionar aluno</a>
						<div th:if="${msg}" th:text="${msg}" class="alert alert-success mt-2"></div>
		        	</div>
		        </div>
            </div>
        </div>
	<script type="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script type="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	</body>
</html>