<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Cadastrar Aluno</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	<body>
        <div class="container">
            <div class="row justify-content-center my-4">
                <div class="col-10">
                    <div class="card">
                        <div class="card-header text-center">
                            <div class="card-title">
                            	<h1><span th:if="${aluno.matricula} == null">Cadastrar Aluno</span></h1>
                            	<h1><span th:unless="${aluno.matricula} == null">Editar Aluno</span></h1>
                            </div>
                        </div>
                        <form th:action="@{/aluno/listar-alunos}" th:object="${aluno}"  method="POST">
	                        <div class="card-body">
	                        	<input type="hidden" th:if="${aluno.matricula}" name="edit" value="editando">
	                            <label for="matricula">Matrícula</label>
	                            <input th:field="*{matricula}" class="form-control" type="text" id="matricula" name="matricula" value="">
	                            <label class="mt-4" for="nome">Nome</label>
	                            <input th:field="*{nome}" class="form-control" type="text" id="nome" name="nome" value="">
	                            <label class="mt-4" for="anoNascimento">Ano de Nascimento</label>
	                            <input th:field="*{anoNascimento}" class="form-control" type="text" id="anoNascimento" name="anoNascimento" value="">
	                            <label class="mt-4" for="telefone">Telefone</label>
	                            <input th:field="*{telefone}" class="form-control" type="text" id="telefone" name="telefone" value="">
	                            <label class="mt-4" for="email">E-mail</label>
	                            <input th:field="*{email}" class="form-control" type="text" id="email" name="email" value="">
	                            <label class="mt-4" for="turmaAluno">Turma</label>
	                            <select th:if="${aluno.turma}" id="codigo" name="codigo" class="form-control">
								  <option th:each="turma : ${turmas}" th:selected="${aluno.turma.codigo == turma.codigo}" th:text="${turma.codigo}">Turma</option>
								</select>
								<select th:unless="${aluno.turma}" id="codigo" name="codigo" class="form-control">
								  <option th:each="turma : ${turmas}" th:text="${turma.codigo}">Turma</option>
								</select>
	                        </div>
	                        <div class="card-footer text-right">
								<input th:if="${aluno.matricula} == null" type="submit" class="btn btn-primary" value="Cadastrar">
								<input th:unless="${aluno.matricula} == null" type="submit" class="btn btn-primary" value="Atualizar">
                        	</div>
                        </form>
                    </div>
                </div>
            </div>
		</div>               
	<script type="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script type="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	</body>
</html>