<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Cadastrar Aluno</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	<body>
        <div class="container">
            <div class="row justify-content-center my-4">
                <div class="col-10">
                    <div class="card">
                        <div class="card-header text-center">
                            <div class="card-title">
                            	<h1>Cadastrar Aluno</h1>
                            </div>
                        </div>
                        <form th:action="@{/aluno/listar-alunos}"  method="POST">
	                        <div class="card-body">
	                            <label for="matricula">Matrícula</label>
	                            <input th:field="${aluno.matricula}" class="form-control" type="text" id="matricula" name="matricula" value=""><br />
	                            <label for="nome">Nome</label>
	                            <input th:field="${aluno.nome}" class="form-control" type="text" id="nome" name="nome" value=""><br />
	                            <label for="anoNascimento">Ano de Nascimento</label>
	                            <input th:field="${aluno.anoNascimento}" class="form-control" type="text" id="anoNascimento" name="anoNascimento" value=""><br />
	                            <label for="telefone">Telefone</label>
	                            <input th:field="${aluno.telefone}" class="form-control" type="text" id="telefone" name="telefone" value=""><br />
	                            <label for="email">E-mail</label>
	                            <input th:field="${aluno.email}" class="form-control" type="text" id="email" name="email" value=""><br />
	                            <label for="turmaAluno">Turma</label>
	                            <select id="codigo" name="codigo" class="form-control">
								  <option th:each="turma : ${turmas}" th:text="${turma.codigo}">Turma</option>
								</select>
	                        </div>
	                        <div class="card-footer text-right">
								<input type="submit" class="btn btn-primary" value="Cadastrar">
                        	</div>
                        </form>
                    </div>
                </div>
            </div>
		</div>               
	<script type="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script type="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	</body>
</html>